In [507]:
#print("hello world")

In [508]:
7 * 3

21

In [509]:
7 * (3 + 4)

49

In [510]:
age = 42

In [511]:
#print(age)

In [512]:
#print(age + 7)

In [513]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      42
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [514]:
name = "Stefan"

In [515]:
#print(name)

In [516]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      42
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [517]:
age = 52

In [518]:
#print(age + 7)

In [519]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      52
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

**this is a new example**
demonstrating difference between string and integer

In [520]:
time_in_years = 10

In [521]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      52
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [522]:
age + time_in_years

62

In [523]:
age = 20
print(age)
print(age + 10)
print(age + time_in_years)

20
30
30

In [524]:
time_in_years

10

In [525]:
#print(age + name)

In [526]:
print(name * 3)

StefanStefanStefan

In [527]:
type(name)

str

In [528]:
print(name + name)

StefanStefan

In [529]:
print(name + str(age))

Stefan20

In [530]:
temperature = "97"

In [531]:
type(temperature)

str

In [532]:
#print(age + temperature)

In [533]:
int("3")

3

In [534]:
print(age + int(temperature))

117

In [535]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      20
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     str      97
time_in_years   int      10

In [536]:
temperature = int(temperature)

In [537]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      20
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [538]:
#int(name)

In [539]:
age = age + 20

In [540]:
print(age)

40

In [541]:
age_in_20 = age + 20

In [542]:
print(age)
print(age_in_20)

40
60

In [543]:
print = "hello"

In [544]:
print

'hello'

In [545]:
#print(print)

In [546]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      40
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
print           str      hello
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [547]:
del print

In [548]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      40
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [549]:
print("hello")

hello

In [550]:
new_value = 22.8765

In [551]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      40
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
more_primes     list     n=9
name            str      Stefan
new_value       float    22.8765
pressures       list     n=5
primes          list     n=9
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10

In [552]:
first_value = 1
second_value = 10

In [553]:
name[3]

'f'

In [554]:
len(name)

6

In [555]:
#name[6]

In [556]:
name[0]

'S'

In [557]:
name[5]

'n'

In [558]:
len(name)

6

In [559]:
name[0:4]

'Stef'

In [560]:
name[2:len(name)]

'efan'

In [561]:
air_pressure = 37.99765

In [562]:
# can you get the number at position 5?
# can you get the numbers after the decimal?
# hint (remember type)

In [563]:
#air_pressure[5]

In [564]:
air_pressure = str(air_pressure)

In [565]:
len(air_pressure)

8

In [566]:
air_pressure[5]

'7'

In [567]:
print(air_pressure)

37.99765

In [568]:
air_pressure[3:]

'99765'

In [569]:
air_pressure.index(".")

2

In [570]:
air_pressure[air_pressure.index("."):]

'.99765'

In [571]:
"abc".index("b")

1

In [572]:
"abcb".index("b")

1

In [573]:
max(2, 4, 3)

4

In [574]:
min(2, 4, 3)

2

In [575]:
# lists

In [576]:
pressures = [0.27, 0.33, 0.28, 0.32, 0.29]

In [577]:
type(pressures)

list

In [578]:
print(pressures)

[0.27, 0.33, 0.28, 0.32, 0.29]

In [579]:
len(pressures)

5

In [580]:
temperature

97

In [581]:
# single values are not subscriptable
#temperature[0]

In [582]:
# lists (like strings) are subscriptable

In [583]:
pressures[0]

0.27

In [584]:
pressures[:2]

[0.27, 0.33]

In [585]:
pressures[2:]

[0.28, 0.32, 0.29]

In [586]:
name

'Stefan'

In [587]:
#name[2] = 'J'

In [588]:
pressures[2] = .42

In [589]:
print(pressures)

[0.27, 0.33, 0.42, 0.32, 0.29]

In [590]:
round(sum(pressures), 3)

1.63

In [591]:
readings = [2, 3, 4, 5]
sum(readings)

14

In [592]:
primes = [1, 2, 3, 5, 7, 11]

In [593]:
primes.append(13)

In [602]:
primes

[1, 2, 3, 5, 7, 11, 13, 10, 10, 17]

In [603]:
print(primes.append(17))

None

In [604]:
len(primes)

11

In [605]:
primes

[1, 2, 3, 5, 7, 11, 13, 10, 10, 17, 17]

In [606]:
# loops

In [608]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [616]:
for k in primes:
    print(k)

1
2
3
5
7
11
13
10
10
17
17

In [615]:
for z in range(len(primes)):
    print(z, primes[z])

0 1
1 2
2 3
3 5
4 7
5 11
6 13
7 10
8 10
9 17
10 17

In [617]:
primes[1]

2

In [618]:
int_val = 1
primes[int_val]

2

In [630]:
print(len(primes))
print(primes)
for i in range(0,len(primes)):
    print(i, primes[i])

11
[1, 2, 3, 5, 7, 11, 13, 10, 10, 17, 17]
0 1
1 2
2 3
3 5
4 7
5 11
6 13
7 10
8 10
9 17
10 17

In [633]:
print(primes)
for p in primes:
    print(p)

[1, 2, 3, 5, 7, 11, 13, 10, 10, 17, 17]
1
2
3
5
7
11
13
10
10
17
17

In [640]:
total_value = 0
for p in primes:
    p = p / 2
    total_value = total_value + p
print(total_value)

48.0

In [636]:
sum(primes)

96

In [647]:
#for p in primes:
#    print("prime", p)
#    for pr in pressures:
#        print("pressure", pr)

In [650]:
# exercise
# create a list of values = 2, 4, 6, 8, 10
# write a loop to print each number in the list multiplied by 2
# do this with index looping (for i in range(0,len(list))):
# also do it with enumeration (for v in values:)

In [657]:
values = [2, 4, 6, 8, 10]

In [653]:
for v in values:
    val = v * 2
    print(val)

4
8
12
16
20

In [654]:
for i in range(len(values)):
    val = values[i] * 2
    print(val)

4
8
12
16
20

In [655]:
sum(values)

30

In [658]:
whos

Variable        Type     Data/Info
----------------------------------
a               int      2
age             int      40
age_in_20       int      60
air_pressure    str      37.99765
b               int      2
first_value     int      1
i               int      4
int_val         int      1
k               int      17
more_primes     list     n=11
name            str      Stefan
new_value       float    22.8765
p               int      17
pr              float    0.29
pressures       list     n=5
primes          list     n=11
readings        list     n=4
second_value    int      10
temp            int      2
temperature     int      97
time_in_years   int      10
total_val       int      0
total_value     float    48.0
v               int      10
val             int      20
values          list     n=5
z               int      10

In [659]:
print(age)

40

In [662]:
print(age == 30)

False

In [663]:
is_age_40 = (age == 40)

In [664]:
is_age_40

True

In [665]:
type(is_age_40)

bool

In [674]:
mass = 3.5
if mass >= 3.0:
    print(mass, "is large")
if mass < 3.0:
    print(mass, "is small")

3.5 is large

In [678]:
# this doesn't work if you want to run only one case
mass = 3
if mass > 8:
    print("huge")

if mass > 5:
    print("medium")

if mass > 2:
    print("small")

small

In [680]:
mass = 10
if mass > 8:
    print("large")
elif mass > 5:
    print("medium")
else:
    print("small")

small

In [683]:
mass = 10
velocity = 6

if mass > 5 and velocity > 5:
    print("large and fast")
elif (mass > 5 and velocity <= 5):
    print("large and slow")
else:
    print("neither")

large and fast

In [688]:
mass = 4
velocity = 5

if mass > 5 or (mass > 3 and velocity > 3):
    print("high impact")

high impact

In [689]:
print(pressures)

[0.27, 0.33, 0.42, 0.32, 0.29]

In [699]:
high_pressure = []
low_pressure = []
for p in pressures:
    if p > .30:
        high_pressure.append(p)
    else:
        low_pressure.append(p)
print(high_pressure)
print(low_pressure)

[0.33, 0.42, 0.32]
[0.27, 0.29]

In [696]:
# save the below threshold values in a separate list called low_pressure